@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  interpolate-size: allow-keywords;
  --primary: #181818;
  --secondary: #ebebeb;
}

body{
  font-family: "Manrope", serif;
  min-height: 100vh;
  background-color: #ebebeb;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

